.pokedex {
  border-radius: 10em;
  bottom: 0em;
  height: 100%;
  margin: 0 auto;
  position: relative;
  transition: all 1s ease-in-out;
  width: 40em;
}
.pokedex.open {
  bottom: 15em;
  transition: all 1s ease-in-out;
}
.pokedex.open .modal {
  transition: all 1s ease-in-out;
  background: rgba(0,0,0,0.5);
  height: inherit;
  visibility: visible;
}
.pokedex.open .modal button {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  float: right;
  height: 3em;
  margin: 0.5em;
  width: 3em;
  position: absolute;
  right: 0;
}
.pokedex .circle-left-top,
.pokedex .circle-right-top,
.pokedex .circle-right-bottom,
.pokedex .circle-left-bottom {
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  display: inline-block;
  height: 15em;
  width: 15em;
}
.pokedex .circle-right-top,
.pokedex .circle-left-top {
  border-bottom: 1em solid #000;
  border-top: 1em solid transparent;
}
.pokedex .circle-right-bottom,
.pokedex .circle-left-bottom {
  border-bottom: 1em solid transparent;
  border-top: 1em solid #000;
}
.pokedex .circle-right-top {
  border-radius: 0 0 0 100%;
  float: right;
  margin-top: -1em;
}
.pokedex .circle-left-top {
  border-radius: 0 0 100% 0;
  left: 0em;
  margin-top: -1em;
}
.pokedex .circle-right-bottom {
  border-radius: 100% 0 0 0;
  float: right;
  margin-top: 2em;
}
.pokedex .circle-left-bottom {
  border-radius: 0 100% 0 0;
  left: 0em;
  margin-top: 2em;
}
.pokedex .bottom,
.pokedex .top {
  background: #dc143c;
  height: 18em;
}
.pokedex .top {
  border-radius: 5em 5em 0 0;
}
.pokedex .bottom {
  border-radius: 0 0 5em 5em;
  bottom: 0;
  width: inherit;
}
.pokedex .panel,
.pokedex .divisor,
.pokedex .divisor .button {
  position: absolute;
}
.pokedex .panel {
  background: #000;
  border: 1em solid #add8e6;
  border-radius: 100%;
  height: 15em;
  right: 11.5em;
  top: 12.5em;
  transition: all 1s ease-in-out;
  width: 15em;
}
.pokedex .divisor {
  background: #add8e6;
  bottom: 4.5em;
  height: 6em;
  width: 100%;
}
.pokedex .divisor .button {
  background: #00ced1;
  border: 0.5em solid #add8e6;
  border-radius: 100%;
  bottom: -1em;
  box-shadow: 0 0.5em 0 #90b0b3;
  cursor: pointer;
  height: 8em;
  left: 2.8em;
  transition: all 0.2s linear;
  width: 8em;
}
.pokedex .divisor .button:active {
  box-shadow: 0 2px 0 #8c96a6 !important;
  transform: translateY(3px) !important;
}
.pokedex .modal {
  visibility: hidden;
}
.pokedex .modal section {
  background: rgba(255,255,255,0.74);
  border-radius: 2em 0em;
  border-style: none;
  height: 16em;
  text-align: center;
  width: 16em;
}
.pokedex .modal section img {
  height: 15em;
  width: 15em;
}
.pokedex .modal span {
  background: rgba(0,187,249,0.4);
  border: 1px dotted rgba(0,187,249,0.4);
  border-radius: 1em;
  margin: 0.2em;
  padding: 0 1em 0 0.8em;
}
.pokedex .modal label {
  width: 8em;
}
.pokedex .pokemon {
  height: inherit;
  position: absolute;
}
.pokedex .pokemon-description,
.pokedex .pokemon-foto {
  display: inline-block;
  float: left;
}
.pokedex .pokemon-attributes {
  margin: 0.5em;
  width: 50%;
}
.pokedex .pokemon-attributes h3 {
  clear: both;
  color: #fff;
  float: left;
  margin: 0px;
  margin-top: 1.25em;
  text-transform: none;
  width: 100%;
}
.pokedex .pokemon-attributes ul {
  clear: both;
  list-style: none;
  width: 100%;
}
.pokedex .pokemon-attributes ul li {
  border-radius: 0.5em;
  float: left;
  margin: 0.5em 0.5em 0 0;
  padding: 0;
  text-align: center;
  width: 5em;
}
.pokedex .pokemon-attributes ul li a {
  color: #fff;
  display: block;
  float: left;
  line-height: 100%;
  padding: 0.5em 0;
  width: 100%;
}
.pokedex .pokemon-description {
  margin: 0.5em;
  width: 50%;
  height: 18em;
}
.pokedex .pokemon-description p {
  line-height: 150%;
}
.pokedex .pokemon-stats {
  background-color: #a4a4a4;
  border-radius: 10px;
  display: block;
  float: left;
  margin: 0.5em;
  width: 100%;
/*.gauge
                background: #fff;
                position: relative;
                overflow: hidden;
          .gauge li
                list-style none
                background: transparent;
                border-bottom: 0.25em solid #a4a4a4;
                height: 0.5em;
                width: 100%;
                position: relative;
                z-index: 2;*/
}
.pokedex .pokemon-stats>ul>li {
  float: left;
  margin-right: -100%;
  width: 12.95%;
  display: inline-block;
  margin: 0 1.5625% 1.25em 0;
}
.pokedex .pokemon-stats .gauge {
  padding: 0;
  background: #fff;
}
.pokedex .pokemon-stats .gauge li {
  list-style: none;
  background: transparent;
  border-bottom: 0.25em solid #a4a4a4;
  height: 0.5em;
  width: 100%;
  position: relative;
  z-index: 2;
}
