body {
  background: #fff;
  color: #000;
  font: 12px Helvetica, Arial, sans-serif;
}
.container {
  height: 100%;
  width: 100%;
  position: relative;
}
.front {
  position: absolute;
  height: inherit;
  width: inherit;
}
.middle {
  transition: all 1s ease-in-out;
  background: #add8e6;
  height: 6em;
}
.open .middle {
  height: 40em;
  overflow: hidden;
}
.open .front .panel {
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.open .front .middle .target {
  transition: all 0.2s ease-in-out;
  opacity: 1;
  height: inherit;
  overflow-y: scroll;
}
.target section {
  border: 1px dotted #808080;
  border-radius: 1em;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0.5em;
  cursor: pointer;
  padding: 0.5em;
}
.pokedex {
  perspective: 600;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  background: #add8e6;
  border-radius: 10em;
  height: 42em;
  margin: 0 auto;
  position: absolute;
  width: 40em;
}
.pokedex .circle-left-top,
.pokedex .circle-right-top,
.pokedex .circle-right-bottom,
.pokedex .circle-left-bottom {
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  display: inline-block;
  height: 15em;
  width: 15em;
}
.pokedex .circle-right-top,
.pokedex .circle-left-top {
  border-bottom: 1em solid #000;
  border-top: 1em solid transparent;
}
.pokedex .circle-right-bottom,
.pokedex .circle-left-bottom {
  border-bottom: 1em solid transparent;
  border-top: 1em solid #000;
}
.pokedex .circle-right-top {
  border-radius: 0 0 0 100%;
  float: right;
  margin-top: -1em;
}
.pokedex .circle-left-top {
  border-radius: 0 0 100% 0;
  left: 0em;
  margin-top: -1em;
}
.pokedex .circle-right-bottom {
  border-radius: 100% 0 0 0;
  float: right;
  margin-top: 2em;
}
.pokedex .circle-left-bottom {
  border-radius: 0 100% 0 0;
  left: 0em;
  margin-top: 2em;
}
.pokedex .bottom,
.pokedex .top {
  background: #dc143c;
  height: 18em;
}
.pokedex .top {
  border-radius: 5em 5em 0 0;
}
.pokedex .bottom {
  border-radius: 0 0 5em 5em;
  width: inherit;
  bottom: 0;
}
.pokedex .panel,
.pokedex .divisor,
.pokedex .divisor .button {
  position: absolute;
}
.pokedex .panel {
  transition: all 1s ease-in-out;
  background: #000;
  border: 1em solid #add8e6;
  border-radius: 100%;
  bottom: 12.5em;
  height: 15em;
  right: 11.5em;
  width: 15em;
  z-index: 1;
}
.pokedex .divisor {
  background: #add8e6;
  bottom: 4.5em;
  height: 6em;
  width: 100%;
}
.pokedex .divisor .button {
  background: #00ced1;
  border: 0.5em solid #add8e6;
  border-radius: 100%;
  bottom: -1em;
  height: 8em;
  left: 2.8em;
  width: 8em;
  box-shadow: 0 0.5em 0 #90b0b3;
  cursor: pointer;
  transition: all 0.1s linear;
}
.pokedex .divisor .button:active {
  box-shadow: 0 2px 0 #8c96a6 !important;
  transform: translateY(3px) !important;
}
