html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background: #fff;
  color: #000;
  font: 12px Helvetica, Arial, sans-serif;
}
.container {
  height: 100%;
  width: 100%;
}
.pokebody {
  background: #add8e6;
  border-radius: 10em;
  width: 40em;
  height: 40em;
  margin: 0 auto;
  position: relative;
}
.pokebody .circle-right-top {
  height: 15em;
  width: 15em;
  border-radius: 0 0 0 100%;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-top: 1em solid transparent;
  border-bottom: 1em solid #000;
  position: absolute;
  top: -1em;
  right: 0em;
}
.pokebody .circle-left-top {
  height: 15em;
  width: 15em;
  border-radius: 0 0 100% 0;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-top: 1em solid transparent;
  border-bottom: 1em solid #000;
  position: absolute;
  top: -1em;
  left: 0em;
}
.pokebody .circle-right-bottom {
  height: 15em;
  width: 15em;
  border-radius: 100% 0 0 0;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-top: 1em solid #000;
  border-bottom: 1em solid transparent;
  position: absolute;
  bottom: -3em;
  right: 0em;
}
.pokebody .circle-left-bottom {
  height: 15em;
  width: 15em;
  border-radius: 0 100% 0 0;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-top: 1em solid #000;
  border-bottom: 1em solid transparent;
  position: absolute;
  bottom: -3em;
  left: 0em;
}
.pokebody .top {
  background: #f00;
  border-radius: 5em 5em 0 0;
  height: 45%;
  margin-bottom: 6em;
}
.pokebody .bottom {
  background: #f00;
  border-radius: 0 0 5em 5em;
  height: 45%;
  margin-top: 6em;
}
.pokebody .panel {
  background: #000;
  height: 15em;
  width: 15em;
  border-radius: 100%;
  position: absolute;
  bottom: 10.5em;
  right: 11.5em;
  border: 1em solid #add8e6;
}
.pokebody .divisor {
  background: #add8e6;
  height: 6em;
  width: 100%;
  bottom: 4.5em;
  position: absolute;
}
.pokebody .divisor .button {
  background: #00ced1;
  height: 8em;
  width: 8em;
  border-radius: 100%;
  position: absolute;
  left: 3em;
  bottom: -1.5em;
  border: 0.5em solid #add8e6;
}
