/*
 * Types
*/
.background-color-bug {
  color: #fff;
}
.background-color-dark {
  color: #fff;
}
.background-color-dragon {
  color: #fff;
}
.background-color-electric {
  color: #212121;
}
.background-color-fairy {
  color: #212121;
}
.background-color-fighting {
  color: #fff;
}
.background-color-fire {
  color: #fff;
}
.background-color-flying {
  color: #212121;
}
.background-color-ghost {
  color: #fff;
}
.background-color-grass {
  color: #212121;
}
.background-color-ground {
  color: #212121;
}
.background-color-ice {
  color: #212121;
}
.background-color-normal {
  color: #212121;
}
.background-color-poison {
  color: #fff;
}
.background-color-psychic {
  color: #fff;
}
.background-color-rock {
  color: #fff;
}
.background-color-steel {
  color: #212121;
}
.background-color-water {
  color: #fff;
}
