.pokedex
    border-radius 10em
    bottom 0em
    height 100%
    margin 0 auto
    position relative
    transition all 1s ease-in-out
    width 40em
    &.open
        bottom 15em
        transition all 1s ease-in-out
        .modal
            background rgba(0,0,0,.5)
            height inherit
            transition all 1s ease-in-out
            visibility visible
            button
                background transparent
                border 1px solid white
                border-radius 100%
                color white
                cursor pointer
                float right
                height 3em
                margin .5em
                position absolute
                right 0
                width 3em
    .circle
        &-left-top
        &-right-top
        &-right-bottom
        &-left-bottom
            border-left 1em solid transparent
            border-right 1em solid transparent
            display inline-block
            height 15em
            width 15em
        &-right-top
        &-left-top
            border-bottom 1em solid black
            border-top 1em solid transparent
        &-right-bottom
        &-left-bottom
            border-bottom 1em solid transparent
            border-top 1em solid black
        &-right-top
            border-radius 0 0 0 100%
            float right
            margin-top -1em
        &-left-top
            border-radius 0 0 100% 0
            left 0em
            margin-top -1em
        &-right-bottom
            border-radius 100% 0 0 0
            float right
            margin-top 2em
        &-left-bottom
            border-radius 0 100% 0 0
            left 0em
            margin-top 2em
    .bottom
    .top
        background #DC143C
        height 18em
    .top
        border-radius 5em 5em 0 0
    .bottom
        border-radius 0 0 5em 5em
        bottom 0
        width inherit
    .panel
    .divisor
    .divisor .button
        position absolute
    .panel
        background black
        border 1em solid lightblue
        border-radius 100%
        height 15em
        right 11.5em
        top 12.5em
        transition all 1s ease-in-out
        width 15em
    .divisor
        background lightblue
        bottom 4.5em
        height 6em
        width 100%
        .button
            background #00CED1
            border .5em solid lightblue
            border-radius 100%
            bottom -1em
            box-shadow 0 .5em 0 #90B0B3
            cursor pointer
            height 8em
            left 2.8em
            transition all .2s linear
            width 8em
        .button:active
            box-shadow 0 2px 0 #8C96A6!important
            transform translateY(3px)!important
    .modal
        visibility hidden
        section
            background rgba(255, 255, 255, 0.74)
            border-radius 2em 0em
            border-style none
            height 16em
            text-align center
            width 16em
        section img
            height 15em
            width 15em
    .pokemon
        position absolute
        h3
            margin 0em
        &-description,
        &-foto
            display inline-block
            float left
        &-attributes
            float left
            width 45%
            margin .5em
            ul
                clear both
                list-style none
                margin 0
                width 100%
                li
                    border-radius .5em
                    float left
                    margin 0 .5em 0 0
                    padding 0
                    text-align center
                    width 5em
                    a
                        color white
                        display block
                        float left
                        line-height 100%
                        padding .5em 0
                        width 100%
        &-description
            margin .5em
            width 50%
            p
                line-height 150%
        &-stats
            display inline-block
            width 50%
            margin .5em
            .gauge
                background white
                overflow hidden
                padding 0
                position relative
                .meter
                    background #5DFD00
                    border none
                    height 120%
                    position absolute
                    top 0%
                    top 100%
                    transition 1.5s ease-in-out all;
                    z-index 1
            .gauge li
                border-bottom 0.25em solid rgb(57, 105, 113)
                height 0.5em
                position relative
                width 5em
                z-index 2
            &>ul>li
                  display inline-block
                  float left
                  font-size 9pt
                  margin 0 1.2% 1.25em 0
                  text-align center
                  width 12.95%
            &>ul
                background red
                margin 1em 0
                padding 0 2em
                width 100%

