body
    background white
    color black
    font 12px Helvetica, Arial, sans-serif

.container
    height 100%
    width 100%
    position relative

.pokedex:hover
    transform: rotateY(180deg)

.back
    border-radius 5em
    height 42em
    position absolute
    overflow hidden
    width inherit
    background red
    z-index 2
    transform rotateY(180deg)

.front
    position absolute
    height inherit;
    width inherit

.pokedex
    perspective 600
    transform-style preserve-3d
    transition all 1s ease-in-out
    background lightblue
    border-radius 10em
    height 42em
    margin 0 auto
    position absolute
    width 40em

    .circle-left-top,
    .circle-right-top,
    .circle-right-bottom,
    .circle-left-bottom
        border-left 1em solid transparent
        border-right 1em solid transparent
        display inline-block
        height 15em
        width 15em

    .circle-right-top,
    .circle-left-top
        border-bottom 1em solid black
        border-top 1em solid transparent

    .circle-right-bottom,
    .circle-left-bottom
        border-bottom 1em solid transparent
        border-top 1em solid black

    .circle-right-top
        border-radius 0 0 0 100%
        float right
        margin-top -1em

    .circle-left-top
        border-radius 0 0 100% 0
        left 0em
        margin-top -1em

    .circle-right-bottom
        border-radius 100% 0 0 0
        float right
        margin-top 2em

    .circle-left-bottom
        border-radius 0 100% 0 0
        left 0em
        margin-top 2em

    .bottom,
    .top
        background red
        height 18em

    .top
        border-radius 5em 5em 0 0
        margin-bottom 6em

    .bottom
        border-radius 0 0 5em 5em
        position absolute
        width inherit
        bottom 0

    .panel,
    .divisor,
    .divisor .button
        position absolute

    .panel
        background black
        border 1em solid lightblue
        border-radius 100%
        bottom 12.5em
        height 15em
        right 11.5em
        width 15em
        z-index 1

    .divisor
        background lightblue
        bottom 4.5em
        height 6em
        width 100%

        .button
            background #00CED1
            border .5em solid lightblue
            border-radius 100%
            bottom -1em
            height 8em
            left 2.8em
            width 8em
            box-shadow 0 .5em 0 #90B0B3
            cursor pointer
            transition all .1s linear

        .button:active
            box-shadow 0 2px 0 #8C96A6!important
            transform translateY(3px)!important
