html
body
    margin 0px
    height 100%
    overflow hidden
body
    background white
    background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+CjxyZWN0IHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iI2ZmZiI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPHJlY3QgeD0iMTAiIHk9IjEwIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+")
    color white
    font 15px Helvetica, Arial, sans-serif
a
    color transparent
    text-decoration none
border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments
.container
    height 100%
    position relative
    width 100%
.front
    height 100%
    position absolute
    width inherit
.middle
    background rgba(15, 219, 255, 0.47)
    height 6em
    opacity 1
    transition all 1s ease-in-out
    section
        background-color rgba(64, 110, 148, 0.66)
        border 1px solid #C0C0C0
        border-radius 1em
        color white
        cursor pointer
        display inline-block
        height 5em
        margin .55em
        padding .5em
        text-align center
        width 5em
        img
            width 4em
            height 4em
        p
            margin 0
            font-size 8pt
        a
            text-decoration none
            color white

.open .middle
    height 85%
    overflow-x hidden
    overflow-y auto
.open .front .panel
    opacity 0
    transition all .2s ease-in-out
    visibility hidden
.pokedex
    border-radius 10em
    bottom 0em
    height 100%
    margin 0 auto
    position relative
    transition all 1s ease-in-out
    width 40em
    &.open
        bottom 15em
    .circle
        &-left-top
        &-right-top
        &-right-bottom
        &-left-bottom
            border-left 1em solid transparent
            border-right 1em solid transparent
            display inline-block
            height 15em
            width 15em
        &-right-top
        &-left-top
            border-bottom 1em solid black
            border-top 1em solid transparent
        &-right-bottom
        &-left-bottom
            border-bottom 1em solid transparent
            border-top 1em solid black
        &-right-top
            border-radius 0 0 0 100%
            float right
            margin-top -1em
        &-left-top
            border-radius 0 0 100% 0
            left 0em
            margin-top -1em
        &-right-bottom
            border-radius 100% 0 0 0
            float right
            margin-top 2em
        &-left-bottom
            border-radius 0 100% 0 0
            left 0em
            margin-top 2em
    .bottom
    .top
        background #DC143C
        height 18em
    .top
        border-radius 5em 5em 0 0
    .bottom
        border-radius 0 0 5em 5em
        bottom 0
        width inherit
    .panel
    .divisor
    .divisor .button
        position absolute
    .panel
        background black
        border 1em solid lightblue
        border-radius 100%
        height 15em
        right 11.5em
        top 12.5em
        transition all 1s ease-in-out
        width 15em
        z-index 1
    .divisor
        background lightblue
        bottom 4.5em
        height 6em
        width 100%
        .button
            background #00CED1
            border .5em solid lightblue
            border-radius 100%
            bottom -1em
            box-shadow 0 .5em 0 #90B0B3
            cursor pointer
            height 8em
            left 2.8em
            transition all .1s linear
            width 8em
        .button:active
            box-shadow 0 2px 0 #8C96A6!important
            transform translateY(3px)!important
::-webkit-scrollbar
    width 1em
::-webkit-scrollbar-track
    -webkit-box-shadow 0 0 6px gray inset;
    border-radius 5em gray solid
::-webkit-scrollbar-thumb
    -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.5)
    background-color rgba(0,0,0,0.3)
    border-radius 10px
.view
    height inherit
    &-container
        height 100%
        position relative
    &-container > &.ng-animate
        left 0
        min-height 500px
        position absolute
        top 0
        width 100%
    &.ng-enter
    &.ng-leave
        transition .25s linear all
    &.ng-enter
        transform translateX(100%)
    &.ng-enter.ng-enter-active
    &.ng-leave
        transform translateX(0%)
    &.ng-leave.ng-leave-active
        transform translateX(-100%)
.record
    background-color rgba(64, 110, 148, 0.66)
    border 1px solid #c0c0c0
    border-radius 1em
    height 5em
    text-align center
    width 6em
    img
        height 5em
        width 5em
    &.ng-anchor-in
    &.ng-anchor-out
        @extend .record
    &.ng-anchor
        transition .25s linear all
.listar
    text-align center
.pokedex.open .modal
    background rgba(0,0,0,.5)
    height 100%
    visibility visible
    button
        background transparent
        border 1px solid white
        border-radius 100%
        color white
        float right
        height 2em
        margin .5em
        width 2em
.modal
    visibility hidden
    section
        background transparent
        border-style none
        height 7em
        text-align center
        width 7em
    section img
        height 10em
        transition all .25s ease ease-out
        width 10em
