html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin 0
    padding 0
    font-size 100%
    font inherit
    vertical-align baseline

body
    background white
    color black
    font 12px Helvetica, Arial, sans-serif

.container
    height 100%
    width 100%


.pokebody
    background lightblue
    border-radius 10em
    width 40em
    height 40em
    margin 0 auto
    position relative

    .circle-right-top
        height 15em
        width 15em
        border-radius 0 0 0 100%
        border-right 1em solid transparent
        border-left 1em solid transparent
        border-top 1em solid transparent
        border-bottom 1em solid black
        display inline-block
        margin-top -1em
        float right

    .circle-left-top
        height 15em
        width 15em
        border-radius 0 0 100% 0
        border-right 1em solid transparent
        border-left 1em solid transparent
        border-top 1em solid transparent
        border-bottom 1em solid black
        display inline-block
        margin-top -1em
        left 0em

    .circle-right-bottom
        height 15em
        width 15em
        border-radius 100% 0 0 0
        border-right 1em solid transparent
        border-left 1em solid transparent
        border-top 1em solid black
        border-bottom 1em solid transparent
        display inline-block
        margin-top 2em
        float right

    .circle-left-bottom
        height 15em
        width 15em
        border-radius 0 100% 0 0
        border-right 1em solid transparent
        border-left 1em solid transparent
        border-top 1em solid black
        border-bottom 1em solid transparent
        display inline-block
        margin-top 2em
        left 0em

    .top
        background red
        border-radius 5em 5em 0 0
        height 45%
        margin-bottom 6em

    .bottom
        background red
        border-radius 0 0 5em 5em
        height 45%
        margin-top 6em

    .panel
        background black
        height 15em
        width 15em
        border-radius 100%
        position absolute
        bottom 10.5em
        right 11.5em
        border 1em solid lightblue

    .divisor
        background lightblue
        height 6em
        width 100%
        bottom 4.5em
        position absolute


        .button
            background #00CED1
            height 8em
            width 8em
            border-radius 100%
            position absolute
            left 3em
            bottom -1.5em
            border .5em solid lightblue



