<!DOCTYPE html>
<html lang="es" >
<head>
    <meta charset="UTF-8">
    <title>Pokédex</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="js/build/all.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="pokedex">
    <div class="container" ng-controller="main">
        <h1></h1>
        <div class="pokedex" ng-class="{'open':isOpen}">
            <div class="front">
                <div class="panel">
                    <div class="divisor">
                        <div class="button" ng-click="open()"></div>
                    </div>
                </div>
                <div class="top">
                    <div class="circle-left-top"></div>
                    <div class="circle-right-top"></div>
                </div>
                <div class="middle">
                    <div class="target" ng-show="isOpen">
                        <section ng-repeat="pkmn in pokemon" ng-click="getInfo(pkmn)">
                            {{pkmn.id}} - {{pkmn.name}}
                        </section>
                    </div>
                </div>
                <div class="bottom">
                    <div class="circle-left-bottom"></div>
                    <div class="circle-right-bottom"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
