<div class="modal">
    <div class="pokemon">
        <button ng-click="hideInfo()">X</button>
        <div class="pokemon-foto">
            <section ng-animate-ref="{{ id }}" class="record">
                <img ng-src="http://assets22.pokemon.com/assets/cms2/img/pokedex/full/{{id | tripla}}.png" alt="">
            </section>
        </div>
        <div class="pokemon-description">
            <h3>{{pkmn.name}} N.º{{pkmn.national_id | tripla}}</h3>
            <p>{{descripcion}}</p>
        </div>
        <div class="fixedClear"></div>
        <div>
            <div class="pokemon-attributes">
                <h3>Type</h3>
                <ul>
                    <li ng-repeat="type in pkmn.types" class="background-color-{{type.name}}">
                        <a href="">{{type.name | uppercase}}</a>
                    </li>
                </ul>
            </div>
            <div class="pokemon-stats">
                <h3>Stats</h3>
                <ul>
                    <li class="first">
                      <ul class="gauge">
                        <li data-value="2" class="meter" style="top: {{Math.ceil((.833 * (120 - pkmn.hp))/10)*10 }}%"></li>
                        <li ng-repeat="n in 'charmander' track by $index"></li>
                      </ul>
                      <span>PS</span>
                    </li>

                    <li>
                      <ul class="gauge">
                        <li data-value="3" class="meter" style="top: {{Math.ceil((.833 * (120 - pkmn.attack))/10)*10}}%"></li>
                        <li ng-repeat="n in 'charmander' track by $index"></li>
                      </ul>
                      <span>Attack</span>
                    </li>

                    <li>
                      <ul class="gauge">
                        <li data-value="2" class="meter" style="top: {{Math.ceil((.833 * (120 - pkmn.defense))/10)*10}}%"></li>
                        <li ng-repeat="n in 'charmander' track by $index"></li>
                      </ul>
                      <span>Defense</span>
                    </li>

                    <li>
                      <ul class="gauge">
                        <li data-value="3" class="meter" style="top: {{Math.ceil((.833 * (120 - pkmn.sp_atk))/10)*10}}%"></li>
                        <li ng-repeat="n in 'charmander' track by $index"></li>
                      </ul>
                      <span>Special Attack</span>
                    </li>

                    <li>
                      <ul class="gauge">
                        <li data-value="3" class="meter" style="top: {{Math.ceil(.833 * (120 - pkmn.sp_def)/10)*10}}%"></li>
                        <li ng-repeat="n in 'charmander' track by $index"></li>
                      </ul>
                      <span>Special Defense</span>
                    </li>

                    <li>
                      <ul class="gauge">
                        <li data-value="3" class="meter" style="top:{{Math.ceil(.833 * (120 - pkmn.speed)/10)*10}}%"></li>
                        <li ng-repeat="n in 'charmander' track by $index"></li>
                      </ul>
                      <span>Speed</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
