<div class="modal">
    <button ng-click="hideInfo()">X</button>
    <div>
        <section ng-animate-ref="{{ id }}" class="record">
            <img ng-src="http://assets22.pokemon.com/assets/cms2/img/pokedex/full/{{id | tripla}}.png" alt="">
        </section>
        <article>
            <div class="pokemon">
                <div class="line">
                    <h3>{{pkmn.name}} N.º{{pkmn.national_id | tripla}}</h3>
                </div>
                <div class="line">
                    <label>ATK: </label>{{pkmn.attack}}
                </div>
                <div class="line">
                    <label>DEF: </label>{{pkmn.defense}}
                </div>
                <div class="line">
                    <label>SP ATK: </label>{{pkmn.sp_atk}}
                </div>
                <div class="line">
                    <label>SP DEF: </label>{{pkmn.sp_def}}
                </div>
                <div class="line">
                    <label>SPEED: </label>{{pkmn.speed}}
                </div>
                <div class="line">
                    <label>WEIGHT: </label>{{pkmn.weight}}
                </div>
                <div class="pokemon-attributes">
                    <h3>Tipo</h3>
                    <ul>
                        <li ng-repeat="type in pkmn.types" class="background-color-{{type.name}}">
                            <a href="">{{type.name | uppercase}}</a>
                        </li>
                    </ul>
                </div>
                <!--<div class="line">
                    <label>TYPES: </label><span ng-repeat="type in pkmn.types">{{type.name}}</span>
                </div>-->
            </div>
        </article>
    </div>
</div>
